<a href="https://colab.research.google.com/github/szymek404/data-sciene-bootcamp/blob/main/wprowadzenie/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.5'

In [3]:
#obiekt typy Series
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [7]:
s = pd.Series(data=[3., 2 , 4 , 6], index=['a', 'b', 'c', 'd'], name='sample') # tutaj możemu użyć parametru index i sami ponumerować
s # możemy też dodać kolejny ATRYBUT - nazwe

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [8]:
#JAK WSRAWIĆ BRAK DANYCH?
import numpy as np

np.nan #to wstawia braki danych

nan

In [11]:
s = pd.Series(data=[3., np.nan , 4 , 6], index=['a', 'b', 'c', 'd'], name='sample')
s # tutaj p[okazuje ] że w  b nie ma wartosci np. gdy nie liczymy srednia to nie bierzemy teog pod uwage

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [12]:
#obiket typy series ale logiczne wart
s=pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [28]:
s= pd.Series(data=np.arange(10,20), index= pd.date_range( start= '20200101', periods= 10)) # za indeks dajemu dane daty, przykłdowe dane numpy.arrenge
#funkcja date_range pozwala wyenrwać daty
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [26]:
s.index #JESLI chcemy przkonwertować obiekt na liste to bierzemy funkcje list
list(s.index)

[0, 1, 2]

In [23]:
s = pd.Series(data=[ 'python', 'java', 'sql'], name ='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [16]:
type(s)

pandas.core.series.Series

In [17]:
#teraz patrzymy na atrybuty oibiketu Series. Obiekt ma zawsze indeks jak dotrzeć?
s.index #domyśli zaczynamy od 0 do 3  z krokiem 1

RangeIndex(start=0, stop=3, step=1)

In [24]:
#atrybut values pokazuje wartość
s.values

array(['python', 'java', 'sql'], dtype=object)

In [29]:
#atrybut dtypes podaje typ danych
s.dtype

dtype('int64')

In [30]:
#atrybut shape zwraca kształt danych
s.shape

(10,)

In [46]:
#WYCINANIE DANYCH Z DATEFRAME
price = pd.Series( data= {'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'twoja stara': np.nan})
price #używamy slownika bo wtedy idkess domyślnie jest kluczem

Apple           200.0
CD Projekt       60.0
Amazon         1900.0
twoja stara       NaN
dtype: float64

In [39]:
#wycigąnie nazwa obiektu series i w [] klucz po jakim wyjmujemy
price['CD Projekt']

True

In [33]:
#możemy też po wierszach
price[1]

60

In [48]:
#podstawowe funkcje do analizowania danych
price.count() # liczy ile mamy elemntow w OBIEKCIE typu Series

3

In [49]:
price.value_counts(dropna = False) # spradza rozklad danych ile razy coś wystąpilo, torchę jak  histogram
#ustawiajac dropna decydujemy czy liczeymy braki danych

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [41]:
price.sum() # sumuje wartoci z obiketu

2160

In [43]:
price.min()
price.max()
price.std()

1024.3046421841502

In [52]:
#funkcja decribe pozwala wypisac najwazniejsze dane statystyczne
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [53]:
price.nlargest(1) # wyciagamy najwieksze obiekty podajemy parametr

Amazon    1900.0
dtype: float64

In [54]:
price.nsmallest(1)

CD Projekt    60.0
dtype: float64

In [56]:
price.rank()
#dostajemy posortowane nasze elementy uporzadkowane od najmniej do najwięcej

Apple          2.0
CD Projekt     1.0
Amazon         3.0
twoja stara    NaN
dtype: float64

In [57]:
price.sort_values() # domyślnie sortuje rosnąco

CD Projekt       60.0
Apple           200.0
Amazon         1900.0
twoja stara       NaN
dtype: float64

In [58]:
price.sort_values(ascending= False) #teraz od najniżesz

Amazon         1900.0
Apple           200.0
CD Projekt       60.0
twoja stara       NaN
dtype: float64

In [60]:
#metoda aplay przyjmuje z aparemtr funckje , ktora co srobi 
price.apply(lambda x: x* 4.9) # robi jakies dzialanie z każdą z wartości

Apple           980.0
CD Projekt      294.0
Amazon         9310.0
twoja stara       NaN
dtype: float64

In [61]:
price # widać że dane nie przepisują się same dlatego trzeba przypisać

Apple           200.0
CD Projekt       60.0
Amazon         1900.0
twoja stara       NaN
dtype: float64

In [63]:
price_pln = price.apply(lambda x: x* 4.9)
price_pln

Apple           980.0
CD Projekt      294.0
Amazon         9310.0
twoja stara       NaN
dtype: float64

In [5]:
#dateframe tworzenie obiektów
import pandas as pd
df = pd.DataFrame(data=[12,21,12])
df

    0
0  12
1  21
2  12

In [13]:
df = pd.DataFrame(data=[12,21,12], index= ['first', 'secound', 'third'], columns=['col_1']) #ustawiamy sobie indeksy nazywamy tez kolumny ale mamy jedną
df

         col_1
first       12
secound     21
third       12

In [16]:
df = pd.DataFrame(data={'WIG20': ['PKN Orle','PKO BP'], #pierwsza kolumna
                   'mWiG540':['Amica', 'Playway']     }) #tworzymy DF z słownikiem gdziue klucz to nazwa kolumny
df # mamy dwie kolumny wig 20 i wig 40, Obiket DF pozwala pracwoac z skompikowanymi ramkami danych

      WIG20  mWiG540
0  PKN Orle    Amica
1    PKO BP  Playway

In [18]:
df = pd.DataFrame(data=[ [12,21,12] , [23,12,10] ], index= ['first', 'secound'], columns=['col_1', 'col_2', 'col_3']) #ustawiamy sobie indeksy nazywamy tez kolumny ale mamy jedną
df # przeważnie obiekty dateframe pobieramy z jakieś bazu

         col_1  col_2  col_3
first       12     21     12
secound     23     12     10

In [20]:
#wycinanie kolumn 
df.columns # jest to obiekt typu indexc

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [21]:
df.index

Index(['first', 'secound'], dtype='object')

In [26]:
df.values #tutaj dokopujemy się bezpośrednio do wartość

array([[12, 21, 12],
       [23, 12, 10]])

In [24]:
df.info() # ważna zwraca info o tym co to jest

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to secound
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [28]:
df.describe() # pozwala opisać obiekt krótko podsumowuje statystyki

           col_1      col_2      col_3
count   2.000000   2.000000   2.000000
mean   17.500000  16.500000  11.000000
std     7.778175   6.363961   1.414214
min    12.000000  12.000000  10.000000
25%    14.750000  14.250000  10.500000
50%    17.500000  16.500000  11.000000
75%    20.250000  18.750000  11.500000
max    23.000000  21.000000  12.000000

In [29]:
df.describe().T # przejrzystoać łatwiejsza

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  17.5  7.778175  12.0  14.75  17.5  20.25  23.0
col_2    2.0  16.5  6.363961  12.0  14.25  16.5  18.75  21.0
col_3    2.0  11.0  1.414214  10.0  10.50  11.0  11.50  12.0

In [31]:
# selekcja kolumn
df

         col_1  col_2  col_3
first       12     21     12
secound     23     12     10

In [32]:
#wycinamy pierwszą kolumne możemy użyc [] i wsrodku nazwe
df['col_1']

first      12
secound    23
Name: col_1, dtype: int64

In [34]:
# ma to inny typ niż dataframe jest to obiekt typu Sewries
type(df['col_1']) #Obiekt DATARAME to składa się z wielu Series
# JEDEN SERIES TO JEDNA KOLUMNA

pandas.core.series.Series

In [35]:
#JEżeli wycinami OBIEKT DATAFRAME to musimy urzyć DWA RAZY [[']]
df[['col_1']]

         col_1
first       12
secound     23

In [36]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [38]:
#JAK zmienic nazwę kolumn? Mamy atrybut kolumn , który zwraca nowe nazwy a my możemy przepisać go i podać nowe nazwy 
df.columns=['a','b','c']
df

          a   b   c
first    12  21  12
secound  23  12  10

In [40]:
#Możemy po kropce nazwy kolumny jako atrybutu czyli nnp df.a
df.a # ten sposob nie zawsze możemy urzyć np gdy mamy spacje w nazwach

first      12
secound    23
Name: a, dtype: int64

In [42]:
#tworzenie nowej kolumny to po prostu nazwa w nawiasie kwadratowym
df['d'] = df.a+df.c #chcemy mieć sume w kolumnie d
df

          a   b   c   d
first    12  21  12  24
secound  23  12  10  33

In [43]:
df = pd.DataFrame(data=[ [12,21,12] , [23,12,10] ], index= ['first', 'secound'], columns=['col_1', 'col_2', 'col_3']) #ustawiamy sobie indeksy nazywamy tez kolumny ale mamy jedną
df # przeważnie obiekty dateframe pobieramy z jakieś bazu

         col_1  col_2  col_3
first       12     21     12
secound     23     12     10

In [45]:
#METODA LOC i ILOC
df.loc['first']  #LOc pozwala wycinać po nazwach

col_1    12
col_2    21
col_3    12
Name: first, dtype: int64

In [46]:
df.iloc[0] # Iloc sluży w wycinaniu po indeksach

col_1    12
col_2    21
col_3    12
Name: first, dtype: int64

In [47]:
# teraz chcemy wyciać 1 wiersz kolumny drugiej
df.iloc[[0],[1]]

       col_2
first     21

In [49]:
df.loc['first', 'col_2']

21

In [56]:
#Gdy chcemy cała to zamiast nazwy kolumy dwukropek
df.iloc[:,[2]]
df.loc[:,'col_2']

first      21
secound    12
Name: col_2, dtype: int64